<%- include('../parts-mhs/header', {page: "jawal-mahasiswa"}) %>
    <div class="container">
        <%- include('../parts-mhs/sidebar') %>
        <div class="content">
            <div class="judul">
                <h1>Jadwal Kuliah</h1>
            </div>
            <table border="1" width="900px" style="margin-left: auto; margin-right: auto; margin-top: 60px;">
                <thead>
                    <tr>
                        <th>Mata Kuliah</th>
                        <th>Kelas</th>
                        <th>SKS</th>
                        <th>Ruang</th>
                        <th>Hari</th>
                        <th>Waktu</th>
                    </tr>
                </thead>
                <% dtd.forEach(function(data) { %>
                <tbody style="text-align:center;">
                    <tr>
                        <td><%=data.mata_kuliah %></td>
                        <td><%=data.kelas %></td>
                        <td><%=data.sks %></td>
                        <td><%=data.ruang %></td>
                        <td><%=data.hari %></td>
                        <td><%=data.waktu %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
            
            <!-- <div class="jadwal-kuliah">
                <% dtd.forEach(function(data) { %>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Mata Kuliah</p>
                    </div>
                    <div class="jadwal-col">
                        <p><%=data.mata_kuliah %></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Kelas</p>
                    </div>
                    <div class="jadwal-col">
                        <p><%=data.kelas %></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>SKS</p>
                    </div>
                    <div class="jadwal-col">
                        <p><%=data.sks %></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Ruang</p>
                    </div>
                    <div class="jadwal-col">
                        <p><%=data.ruang %></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Hari</p>
                    </div>
                    <div class="jadwal-col">
                        <p><%=data.hari %></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Waktu</p>
                    </div>
                    <div class="jadwal-col">
                        <p><%=data.waktu %></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
            </div>
            <% }); %> -->
        </div>
    </div>
    <div class="test"></div>
    
</body>
</html>