<%- include('../parts-dosen/header', {page: "profile-dosen"}) %>

    <div class="container">
        <%- include('../parts-dosen/sidebar') %>
        <div class="content">
            <div class="judul">
                <h1>Profile/Dosen</h1>
            </div>
            <div class="profile-mahasiswa">
                <div class="foto-profile">
                    <img src="/img/profile.png" alt="profile">
                </div>
                <div class="data">
                    <% dtd.forEach(function(data) { %>
                    <form action="/dosen/profile-dosen/<%=data.dosen_id%>" method="post">
                        <div class="nama">
                            <label for="">Nama</label>
                            <input type="text" name="nama" id="nama" value="<%=data.nama %>">
                        </div>
                        <div class="nim">
                            <label for="" >NIP</label>
                            <input type="text" name="nip" id="nip" value="<%=data.nip %>">
                        </div>
                        <div class="jenis-kelamin">
                            <label for="">Jenis Kelamin</label>
                            <input type="text" name="jenis_kelamin" id="jenis_kelamin" value="<%=data.jenis_kelamin %>">
                        </div>
                        <div class="alamat">
                            <label for="">Alamat</label>
                            <input type="text" name="alamat" value="<%=data.alamat %>">
                        </div>
                        <div class="kota">
                            <label for="">Kota</label>
                            <input type="text" name="kota" value="<%=data.kota %>" >
                        </div>
                        <div class="email">
                            <label for="">Email</label>
                            <input type="text" name="email" value="<%=data.email %>">
                        </div>
                        <div >
                            <button>Save</button>
                        </div>
                    </form>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>